<div class='header'>

  <div class='menu' style="position: relative;">
      <div class='m'>
          <a class="nu" to="/">NỮ</a>
          <a to="/products">NAM</a>
          <a href="#">TRẺ EM</a>
          <a href="#">BIG SALE THÁNG 3</a>
          <a href="#">BỘ SƯU TẬP</a>
          <a href="#">VỀ CHÚNG TÔI</a>
      </div>
      <div class='logo' style="margin-right: 300px;">
          <a><img src="https://pubcdn.ivymoda.com/ivy2/images/logo.png" alt="" /></a>
      </div>
      <div style="margin-right: 30px;" class='search'>
        <div class="icons">
          <a routerLink="/login"><i style="color: #000" class="bx bxs-user"></i></a>
          <i class="bx bx-heart"></i>
          <a href=""><i style="color: #000" class="bx bxs-cart-alt"></i></a>
        </div>
      </div>
  </div>

  <header>
      <div class='three-color'>
          <div class='color-1'>
              SALE ALL 50% + THÊM 10% HĐ TỪ 2 SP
          </div>
          <div class='color-2'>
              SALE UPTO 75%
          </div>
          <div class='color-3'>
              NEW ARRIVAL + GIẢM HĐ TỪ 2 SP
          </div>
      </div>
      <div class='banner'>
          <img src="https://pubcdn.ivymoda.com/files/news/2024/03/11/824db95ef632b7133f437915fa738500.jpg" alt="" />
      </div>
  </header>
</div>

<!-- <div class="search-container">
  <form (ngSubmit)="updateSearch(filterValue)">
    <div class="form-input">
      <input
        [(ngModel)]="filterValue"
        name="filterValue"
        placeholder="Search..."
        (ngModelChange)="updateSearch(filterValue)"
      />
      <button type="submit" class="search-btn">
        <i class="bx bx-search"></i>
      </button>
    </div>
  </form>
</div> -->
