<!-- <section class="p-0 bg-img cover-background" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
        <div class="container-fluid d-flex flex-column">
            <div class="row align-items-center justify-content-center min-vh-100">
                <div class="col-md-9 col-lg-6 my-5">
                    <div class="text-center error-page">
                        <h1 class="mb-0 text-secondary">404</h1>
                        <h2 class="mb-4 text-white">Sorry, something went wrong!</h2>
                        <p class="w-sm-80 mx-auto mb-4 text-white">This page is incidentally inaccessible because of support. We will back very before long much obliged for your understanding</p>
                        <div>
                            <a routerLink="/admin" class="btn btn-info btn-lg me-sm-2 mb-2 mb-sm-0">Return Home</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- Error 404 Template 1 - Bootstrap Brain Component -->
<section
  class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center bg-warning-subtle"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2
            class="d-flex justify-content-center align-items-center gap-2 mb-4"
          >
            <span class="display-1 fw-bold">4</span>
            <i class="bx bx-error-circle text-danger display-4"></i>
            <span class="display-1 fw-bold bsb-flip-h">4</span>
          </h2>
          <h3 class="h2 mb-2">Oops! You're lost.</h3>
          <p class="mb-5">The page you are looking for was not found.</p>
          <a
            class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0"
            href="#!"
            role="button"
            >Back to Home</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
