<footer>
      <div class="ft-content">
        <h3>Funiro.</h3>
        <p class="mt-5">
          400 University Drive Suite 200 Coral Gables, FL 33134 USA
        </p>
      </div>
      <div class="link">
        <h4>Links</h4>
        <nav>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./shop.html">Shop</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="help">
        <h4>Help</h4>
        <nav>
          <ul>
            <li><a href="">Payment Options</a></li>
            <li><a href="">Returns</a></li>
            <li><a href="">Privacy Policies</a></li>
          </ul>
        </nav>
      </div>
      <div class="email">
        <h4>Newsletter</h4>
        <div class="email-text">
          <p class="email-p">Enter Your Email Address</p>
          <p class="email-sub">SUBSCRIBE</p>
        </div>
      </div>
    </footer>

    <hr class="hr-end" />
    <h4 class="ft-end">2023 furino. All rights reverved</h4>
